<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Manage Courses</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Student Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/index}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/courses}">All Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/enrollmentlist}">My Enrollments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/profile}">Student Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/graduation}">Graduation</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br /><br />

<div class="container">
    <div th:if="${param.success}">
        <div class="alert alert-info">
            <p>You have enrolled in this course. Please log into the Payment Portal to pay the invoice reference &nbsp;&nbsp;</p>
            <p th:text="${refNo}" ></p>
        </div>
    </div>
    <div class="row" style="background-color: #e6ebe9;padding-top: 13px;padding-left: 20px;" >

        <p>You have enrolled in this course. Please log into the Payment Portal to pay the invoice reference &nbsp;&nbsp;</p>
        <p th:text="${refNo}" ></p>
    </div>
    <form th:action="@{/enroll/{id}(id=${course.id})}" method="post" th:object="${courses}" role="form">

        <div class="row">
            <h1>[[${course.name}]]</h1>
        </div>
        <div class="row">
            <p>[[${course.description}]]</p>
        </div>
        <div class="row">
            <p>Fee: &nbsp;&nbsp;$[[${course.fee}]]</p>
        </div>
    </form>
</div>
</body>
</html>


